@import 'variables';

// Header
$header-height: 5rem;
$header-padding: 0.313rem;

// Nav link items
$nav-link-item-padding: 1.25rem;

// Login button
$login-button-size: 2.5rem;
$login-button-image-size: 1.5rem;
