@import 'navbar-vars';

.header-container {
  width: 100%;
  background-color: $primary-color;
  box-shadow: 0px 4px 4px 0px $shadow-color;

  .header {
    margin: 0 $margin-medium;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: $header-height;
    padding: $header-padding $padding-medium;

    .logo {
      margin-right: auto;
      display: flex;
      flex-direction: column;
      gap: .3rem;
      .logo-title {
        font-size: $font-size-xxl;
        font-weight: $font-weight-semi-bold;
        color: $secondary-color
      }
      .logo-description { 
        color: $secondary-color;
        font-size: $font-size-sm;
        font-weight: $font-weight-bold;
      }
    }

    .nav-links {
      list-style: none;

      .nav-link-item {
        display: inline-block;
        padding: 0 $nav-link-item-padding;
      }
    }

    .login-button {
      width: $login-button-size;
      height: $login-button-size;
      background-color: $secondary-color;
      border: none;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      img {
        width: $login-button-image-size;
        height: $login-button-image-size;
      }
    }
  }
}

.logo-image {
  width: 8rem;
  height: auto;
}

.language-selector-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 2rem;
}

.language-select-label {
  margin-bottom: 8px;
  font-weight: bold;
}

.language-select-wrapper {
  position: relative;
  display: inline-block;
}

.selected-language-info {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 8px;
  border-radius: 4px;
  font-size: 14px;
  color: #ffffff;
}

.selected-language-info:hover {
  box-shadow: 0 0 0 1px #ccc;
}

.language-flag {
  width: 24px;
  height: 16px;
  margin-right: 8px;
}

.language-code {
  font-size: 14px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: auto;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-height: 200px;
  overflow-y: auto;
}

.dropdown-item {
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}

// Temporal 
.links {
  a {
    color: white;
    text-decoration: none;
    margin: 0.5rem;
    font-size: 20px;
  }
}