@import 'variables';


// Mat header
$mat-header-height: 5rem; // 80px

// Mat label
$mat-label-title-font-size: 2rem; // 32px

// Device button
$device-select-button-size: 7.25rem; // 116px
$device-select-button-border-radius: 1rem;
$device-select-button-icon-size: 3.75rem; // 60px


// COLORS
$primary-color: #6200E8;
$secondary-color: #FFFFFF;
$tertiary-color: #FF74AD;
$background-color: #F3F4F6;
$error-color: #FF3B30;
$border-color: #DADADA;
$shadow-color: #BDBDBD40;
$link-color: #2997FF;
$disabled-color: #909090;

// TEXT COLORS
$text-color-primary: #000000;
$text-color-secondary: #6D6D6D;
$text-color-light: #ffffff;


// FONT SIZES
$font-size-xs: 0.75rem; // 12px
$font-size-sm: 0.875rem; // 14px
$font-size-md: 1rem; // 16px
$font-size-lg: 1.125rem; // 18px
$font-size-xl: 1.25rem; // 20px
$font-size-xxl: 1.5rem; // 24px
$font-size-xxxl: 2.25rem; // 36px

// FONT WEIGHTS
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;

// MARGINS
$margin-small: 0.75rem;  // 12px
$margin-medium: 1rem;   // 16px
$margin-large: 1.5rem;  // 24px
$margin-extra-large: 2rem;  // 32px

// PADDINGS
$padding-small: 0.75rem;  // 12px
$padding-medium: 1rem;  // 16px
$padding-large: 1.5rem; // 24px
$padding-extra-large: 2rem;  // 32px

// BORDERS RADIUS
$border-radius-container: 1.5rem;  // 24px

// WIDTH
$max-width: 1200px;
