@import 'variables';

// measure card
$measure-card-height: 500px;

// measure card title
$measure-card-title-margin-bottom: 1.875rem; // 30px

// Circular progress
$circular-progress-empty-color: #efefef;
$circular-progress-text-color: #616161;
$circular-progress-inactive-color: #D50000;
$circular-progress-active-color: #00D500;
$circular-progress-margin: 2.5rem;

// QR
$card-qr-image-margin-top: 1rem;
