/* You can add global styles to this file, and also import other style files */

@import 'variables';
@import './styles/component-styles/dashboard.component.scss';
@import './styles/component-styles/user-information.component.scss';


html, body { height: 100%; background-color: $background-color; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.container {
    max-width: $max-width;
    margin: 0 auto;
    padding: $padding-extra-large;
    padding-top: $padding-extra-large;
}

.container-centered {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
